button.btn-group{
    background-color: black;
    border: 1px solid grey;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 30%;
  }